/* mám zde strašně moc chyb a blbostí, nepodařilo se mi přidat animaci. Pokusím se vše opravit po zkontrolování.*/


html {
    box-sizing: border-box;
}
 
*,
*::before,
*::after {
    box-sizing: inherit;
}


:root {
    --pozadi: #f5f5f5;
    --linka: #629edb;
}

body {
    font-family: 'Merriweather', serif;
    margin: 0;   
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/images/island-hlavicka.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;  
    color: white;  
}

.jana {
    position: relative;
    
}

.jana::after {
    position: absolute;
    content: " ";
    width: 100px;
    border-top: 2px solid white;
    left: 25%;
    bottom: 40px;

}

.nadpis-sekce {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    margin-top: 3rem;
    padding-left: 2rem;
    margin-bottom: 3rem;


}

.nadpis-sekce::after {
    position: absolute;
    content: " ";
    width: 100px;
    border-bottom: 2px solid var(--linka);
    left: -25px;
    top: 50px;
    
}

.fotogalerie .nadpis-sekce {
    padding-left: 2rem;
}

p {
    font-size: 1rem;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
    margin: 1rem;
}







main {
    box-shadow: 0 10px 25px rgba(128, 128, 128, 0.4);
    background-color: var(--pozadi);
}

img {
    width: 100%;
    margin-top: 2rem;
    display: block;
}

[alt="Island"] {
    margin-top: 4rem;
}

nav {
    width: 100%;
    padding: 2.5rem;
    font-family: "Raleway"; 
    font-weight: 200;
}

nav ul {
    padding-left: 0;
}

nav li {
    list-style-type: none;
    padding: 0.5rem 0;
    text-align: center;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.1);
}

nav li a {
    text-transform: uppercase;
    color: grey;
    padding: 0.5rem;   
    font-size: 1rem;
    text-decoration: none;
    

    
}

.uvod,
.tema {
    padding: 0 1.5rem;   
}

.fotka p,
.popisky p,
footer p {
    text-align: center;
    color: grey;
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif ;
    font-weight: 200;
}

.fotka a,
.popisky a, 
footer a{
    color: grey;
}

.popisek-fotky {
    font-weight: bold;
    font-size: 1rem;
}

.fotogalerie-fotky:last-child {
    padding-bottom: 1.5rem ;
}

.fotogalerie-fotky:first-child img{
    margin-top: 0;
}




.mista {
    font-weight: 900;
}

.tema .fotka {
    margin: -2rem;
    margin-bottom: 4rem;
}

.fotogalerie {
    display: block;
    padding: 0;
    margin: 0;
}

.popisky p {
    margin: 0;
    padding: 0;
    line-height: 0;    
}

.popisky {
    margin-top: 1.7rem;
}

footer {
    padding: 1.5rem 2rem;
}

footer p:last-child {
    margin-top: 1rem;
}

footer p {
    text-align: left;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 400;  
}

.co-musite-videt p:last-child :not(.fotka p){
    margin-bottom: 6rem;
}

@media screen and (min-width: 480px) {
    nav ul {
        

        display: flex;
        flex-flow: row nowrap;
          
    }

    nav li {
        flex-grow: 1;
        border-top: 0.5px solid rgba(128, 128, 128, 0.1);
        border-left: 0.5px solid rgba(128, 128, 128, 0.1);
    }

    nav li:first-child {
        border-left: none;
    }

   

    .fotka {
        position: relative;
    }

    .fotka a {
        color: white;
    }

    .fotka p {
        position: absolute;
        right: 1rem;
        bottom: -0.5rem;
        color: white;   
    }

    .co-musite-videt .fotka p {
        bottom: -5.5rem;
    }

    .fotogalerie-seznam {
        display: flex;
        flex-flow: row wrap;   
    }

    .popisky p {
        font-size: 1.3rem;
        color: white;
        font-weight: bolder;
    }

    .popisky p:last-child {
        font-size: 0.9rem;
        font-weight: normal;
    }

    .popisky a {
        color: white;
    }

    .popisky {
        width: 100%;
        height: 100px;
        margin: 0;    
        flex-flow: row nowrap;  
        padding-top: 40px;  
        position: absolute;           
        bottom: 0px;     
    }

    .fotogalerie-fotky:nth-child(7) .popisky {
        bottom: 14px;
    }

    .fotogalerie-fotky:nth-child(8) .popisky {
        bottom: 14px;
    }

    .fotogalerie-fotky:nth-child(9) .popisky {
        bottom: 37px;
    }

    .fotogalerie-fotky {
        position: relative;  
    }

    .fotogalerie-fotky img {
        margin-top: 0;   
    }

    .fotogalerie-fotky:last-child {
        margin-top: -14px;
    }

    .fotogalerie-fotky:hover .popisky{     
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));      
    }

    @media screen and (min-width: 980px) {

        header {
            height: 400px;
        }

        header p:first-of-type {
            width: 60%;
        }

        main {
            width: 960px;
            margin: 0 auto;
            position: relative;
            top: -60px;
            z-index: 1;
        }

        

        .hero {
            display: flex;
        }

        nav {
            flex-flow: column nowrap;
            justify-content: flex-start;
            text-align: left;
            height: 20px;
        }

        nav a {
            border-left: none;
            border-right: none;
        }

        .uvod { 
            padding-top: 2rem;
        }

        .tema p {
            width: 75%;
            padding-left: 2rem;       
        }

        .co-musite-videt {
            overflow: hidden;    
        }

        .co-musite-videt .fotka p {
            position: relative;
            right: -450px;
            bottom: 40px;
        }

        .co-musite-videt .nadpis-sekce {
            position: relative;
            left: 260px;
        }

        .mista-mista  {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-end;
        }

        .fotogalerie-fotky {
            width: 30%;
        }

        .fotogalerie-fotky:last-child {
            top: 14px;
        }

        .fotogalerie-fotky:nth-child(7) .popisky{
            bottom: 23px;
        }

        .fotogalerie-fotky:nth-child(8) .popisky{
            bottom: 23px;
        }
        
        .fotogalerie-seznam {
            justify-content: center;           
        }   
        
        footer {
            padding-left: 150px;
        }
    }    
}





